# Grails wep app files
/qsexam-rest/web-app/WEB-INF

#IDE Files
.classpath
.project
.settings
.metadata

# logs
stacktrace.log
/tests/reports

#release file
*.war

#vim
*.swp

#compiled files
*.class
StoreFinder/gwt-unitCache/gwt-unitCache-00000134E22609FF
gwt-unitCache/
qsexam/target/
