# Grails wep app files
/qsexam-rest/web-app/WEB-INF

#IDE Files
.classpath
.project
.settings
.metadata

# logs
stacktrace.log
/tests/reports

#release file
*.war

#vim
*.swp

#compiled files
*.class
